
# Prerequisites	# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
*.d	


# Object files	# dependencies
*.o	/node_modules
*.ko	/.pnp
*.obj	.pnp.js
*.elf	


# Linker output	# testing
*.ilk	/coverage
*.map	
*.exp	


# Precompiled Headers	# production
*.gch	/build
*.pch	


# Libraries	# misc
*.lib	.DS_Store
*.a	.env.local
*.la	.env.development.local
*.lo	.env.test.local
.env.production.local


# Shared objects (inc. Windows DLLs)	npm-debug.log*
*.dll	yarn-debug.log*
*.so	yarn-error.log*
*.so.*	